.job {
  position: relative;
}

.job::before,
.certification::before,
.qualification::before {
  content: "";
  display: block;
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  /* z-index: 10; */
}

.job::before {
  left: -8px;
}

.certification,
.qualification {
  position: relative;
}

.certification::before {
  right: -8px;
  z-index: 1;
}

.qualification::before {
  left: 1px;
  z-index: 1;
}
